<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <title>Qasino on tilt</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <div th:replace="~{fragments/alert :: alert (type='danger', message=${qasino.message.httpStatus})}">404</div>
        <div th:insert ="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>