<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1 th:text="${'Invite - ' + qasino.navBarItems.^[sequence==4].stat}">Invite</h1>
        <div th:if="${qasino.invitations != null}">
            Under construction ...
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>