<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1 th:text="${'Setup - ' + qasino.navBarItems.^[sequence==2].stat}">Setup</h1>
        <div th:if="${qasino.params.suppliedGameId} > 0 and ${qasino.params.suppliedGameStateGroup} == 'PLAYING'">
            Continue with playing the current game
        </div>
        <div th:if="${qasino.params.suppliedGameStateGroup} == 'FINISHED' or ${qasino.params.suppliedGameId < 1}">
            <div th:replace="~{forms/new :: new}"></div>
        </div>
        <div th:if="${qasino.params.suppliedGameId} > 0 and ${qasino.params.suppliedGameStateGroup} != 'FINISHED' and ${qasino.params.suppliedGameStateGroup} != 'PLAYING'">
            <div th:replace="~{forms/update :: update-or-stop-or-bot}"></div>
        </div>
        <div th:if="${qasino.params.suppliedGameId} > 0 and ${qasino.params.suppliedGameStateGroup} != 'FINISHED' and ${qasino.params.suppliedGameStateGroup} != 'PLAYING'">
            <div th:replace="~{forms/update :: dropdown-list-styles}"></div>
        </div>
        <div th:if="${qasino.params.suppliedGameId} > 0 and ${qasino.params.suppliedGameStateGroup} != 'FINISHED' and ${qasino.params.suppliedGameStateGroup} != 'PLAYING'">
            <div th:replace="~{forms/validate :: validate-or-shuffle}"></div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>