<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1 th:text="${'Visitor - ' + qasino.navBarItems.^[sequence==1].stat}">Visitor</h1>
        <div th:if="${qasino.params.suppliedVisitorId <= 0}">
            No (Visitor) Data
        </div>
        <div th:unless="${qasino.params.suppliedVisitorId == 0}">
            <div th:replace="~{forms/visitor :: pawn-or-repay}"></div>
            <div th:replace="~{forms/visitor :: update}"></div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>