<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Signin to the Qasino</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div>
    <!-- the specific part of this html -->
    <div class="container">
        <div class="text-center">
            <h1>Welcome to the Qasino in the cloud!</h1>
            <div class="lead">
                Get started quickly by signing in
            </div>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>