<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div>
    <form class="form-narrow form-horizontal" method="post" th:action="@{/register}" th:object="${qasino}"
          th:fragment="qasino">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${qasino.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Please Register</legend>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasino.creation.suppliedEmail}')}? 'has-error'">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           th:field="${qasino.creation.suppliedEmail}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasino.creation.suppliedEmail}')}"
                          th:errors="${qasino.creation.suppliedEmail}">Incorrect email</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasino.creation.suppliedUsername}')}? 'has-error'">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           th:field="${qasino.creation.suppliedUsername}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasino.creation.suppliedUsername}')}"
                          th:errors="${qasino.creation.suppliedUsername}">Incorrect username</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasino.creation.suppliedAlias}')}? 'has-error'">
                <label for="alias" class="col-lg-2 control-label">Alias</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="alias" placeholder="Alias"
                           th:field="${qasino.creation.suppliedAlias}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasino.creation.suppliedAlias}')}"
                          th:errors="${qasino.creation.suppliedAlias}">Incorrect alias</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasino.creation.suppliedPassword}')}? 'has-error'">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           th:field="${qasino.creation.suppliedPassword}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasino.creation.suppliedPassword}')}"
                          th:errors="${qasino.creation.suppliedPassword}">Incorrect password</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>Been here before? <a href="/signin" th:href="@{/signin}">Logon</a></p>
                </div>
            </div>
        </fieldset>
    </form>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>