<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="APP_LOG"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}-application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-application.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="apisdk.toolkit.logging.logback.SingleLinePatternLayoutEncoder">
            <pattern>%d{ISO8601} [%thread] %level %class %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="AUDIT_LOG"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-audit.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="cloud.qasinoResponse.games.logback.SingleLinePatternLayoutEncoder">
            <pattern>%d{ISO8601} [%thread] %level %class{36} %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <logger name="org.apache.kafka.clients" level="warn">
        <appender-ref ref="APP_LOG"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="warn">
        <appender-ref ref="APP_LOG"/>
    </logger>

    <root level="info">
        <appender-ref ref="APP_LOG" />
    </root>
</configuration>